
form p {
  font-size: 120%;
}

.ctrlqHeaderMast {
  background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
  height: 378px;
}

.ctrlqFormContent {
  color: rgba(0,0,0,.87);
  padding: 20px 35px
}

.ctrlqFormContentWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column
}

.ctrlqAccent {
  background-color: #ff0000;
  border-radius: 10px 10px 0 0;
  height: 8px;
}

.ctrlqCenteredContent {
  margin: auto;
  width: 600px; 
}

.ctrlqFormCard {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 48px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  word-wrap: break-word
}

.ctrlqFormCard:first-of-type {
  margin-top: -200px;
}

.ctrlqHeaderTitle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 34px;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;
  margin-bottom: 22px
}

@media (max-width: 660px) {
  .ctrlqHeaderMast {
    height: 122px;
  }
  .ctrlqFormCard:first-of-type {
    margin-top: -50px;
  }

  .ctrlqCenteredContent {
    width: 90%;
  }
}

div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #FF4081;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

/********* form group styling **********/
.form-group{
  position: relative;
  margin-bottom: 1rem;
}
.form-group input.form-control {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group input.form-control:focus {
  border-color: #007bff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-group label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #6c757d;
  background-color: #fff;
  cursor: text;
  transition: top 0.2s, font-size 0.2s;
}
.form-group input.form-control:focus + label, .form-group input.form-control:not(:placeholder-shown) + label {
  top: -0.5rem;
  font-size: 0.75rem;
  color: #007bff;
}
.custom-select {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  display: none;
}
.custom-checkbox input[type="checkbox"] + label:before {
  content: "\f0c8";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  background-color: #a1a1a1;
  border-radius: 3px;
  padding: 0px 3px 1px 3px;
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #1ef04f;
  background-color: #fff;
}
.custom-checkbox input[type="checkbox"] + label:before {
  position: relative;
  padding: 2px;
  top: 0;
  left: 0;
}
.file-upload {
  position: relative;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file-label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.file-input:focus + .file-label {
  outline: 2px solid #007bff; /* Change color to indicate focus */
}
.search-input-custom {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  